html,body {
    background-color: white;
    border:           0px;
    padding:          0px;
    margin:           0px;
    overflow-x:       hidden;
    overflow-y:       auto;
    width:            100vw;
    height:           100vh;
    font-size:        20px;
}

body {
    padding:    10px;
    box-sizing: border-box;
}

button.sagecell_evalButton {
    font-size:     20px;
    margin-bottom: 10px;
}

.sagecell .CodeMirror-scroll {
    max-height: 100em !important;
}

#container:fullscreen {
    overflow-x:       hidden;
    overflow-y:       auto;
    background-color: white;
    padding:          10px;
}

